.main {
    height: 200px;
    width: 400px;
    overflow-y: scroll;

    ul {

        li {
            cursor: pointer;

            &:hover {
                color: white;
                background: rgb(19, 18, 18);
            }
        }
    }
}