<div class="middle-main">

  <div class="middle-left">
    <div class="hello-item">
        <div class="about-result">
            <span>About 2,080,000,000 results (0.69 seconds)</span>
        </div>
        <a href="https://www.youtube.com/watch?v=YQHsXMglC9A&ab_c">
            <img src="../../../assets/picture-contents/picture-hello.PNG">
        </a>
        <a id ="hello-title" href="https://www.youtube.com/watch?v=YQHsXMglC9A&ab_c"> 
            Adele - Hello - YouTube 
        </a>
        <span>https://www.youtube.com ›<a>watch</a></span>
    </div>
    
    <div class="lyrics-item">

      <a id="lyrics-name">Lyrics</a>
      <span>Hello, it's me</span>
      <span>I was wondering if after all these years you'd like to meet</span>
      <span>To go over everything</span>
      <span>They say that time's supposed to heal ya…<a href="">More</a></span>
      <span id="source-title" >Source: <a href=""> Musixmatch</a> </span>

    </div>
    
    <div class="available-item">
      <span id="available-name">Available on</span>
      <div class="spotify">
        <img src="../../../assets/available/potify.PNG" alt="">
        <a href="">Spotify</a>
      </div>
      <div class="deezer">
        <img src="../../../assets/available/deezer.PNG" alt="">
        <a href="">Deezer</a>
      </div>
      <span id="artist"> <b>Artist: </b> <a href="">Adele</a> </span>
      <span id="album"> <b>Album:</b> <a href="">25</a> </span>
      <span id="release"><b>Released:</b><span>2015</span> </span>
      <span id="genre"><b>Genre:</b> Pop </span>
      <span id="nomi"> 
          <b>Nominations:</b> 
          <a href="" id="nominations">Grammy Award for Record of the Year, MORE</a> 
      </span>

      <div class="title-other">
        <span href="">Other recordings of this song</span>
      </div>

      <div class="hello-other-item">
        <app-other-recording-item>
          <span title-other>Conkarah, Rosie Delmah · 2016</span>
          <a picture-other href="">
            <img src="../../../assets/picture-contents/other-recoding-1.png">
          </a>
        </app-other-recording-item>

        <app-other-recording-item>
          <span title-other> Conor Maynard · 2016</span>
          <a picture-other href="">
            <img src="../../../assets/picture-contents/other-recoding-2.png">
          </a>
        </app-other-recording-item>

        <app-other-recording-item>
          <span title-other>Leo Moracchioli · 2015</span>
          <a picture-other href="">
            <img src="../../../assets/picture-contents/other-recoding-3.png">
          </a>
        </app-other-recording-item>

        <div class="view-more">
          <a href="">View 15+ more</a>
        </div>
      </div>

      <div class="people-also-search">
        <a href="">People also search for</a>
        <div class="list-search">

          <app-people-also-item>
            <img also-picture  src="../../../assets/list-other/p1.PNG" alt="">
            <div also-content class="also-content">
              <a href="">Someone Like You</a>
              <a href="" id="singer">Adele</a>
            </div>
          </app-people-also-item>

          <app-people-also-item>
            <img also-picture  src="../../../assets/list-other/p2.PNG" alt="">
            <div also-content class="also-content">
              <a href="">Rolling in the Deep</a>
              <a href="" id="singer"><span>Adele</span></a>
            </div>
          </app-people-also-item>

          <app-people-also-item>
            <img also-picture  src="../../../assets/list-other/p3.PNG" alt="">
            <div also-content class="also-content">
              <a href="">When We Were Young</a>
              <a href="" id="singer"><span>Adele</span></a>
            </div>
          </app-people-also-item>

          <app-people-also-item>
            <img also-picture  src="../../../assets/list-other/p4.PNG" alt="">
            <div also-content class="also-content">
              <a href="">Set Fire to the Rain</a>
              <a href="" id="singer"><span>Adele</span></a>
            </div>
          </app-people-also-item>

          <app-people-also-item>
            <img also-picture  src="../../../assets/list-other/p5.PNG" alt="">
            <div also-content class="also-content">
              <a href="">All I Ask</a>
              <a href="" id="singer"><span> Adele </span></a>
            </div>
          </app-people-also-item>

          <app-people-also-item>
            <img also-picture  src="../../../assets/list-other/p6.PNG" alt="">
            <div also-content class="also-content">
              <a href="">Make You Feel My Love</a>
              <a href="" id="singer"><span>Adele</span></a>
            </div>
          </app-people-also-item>

          <app-people-also-item>
            <img also-picture  src="../../../assets/list-other/p7.PNG" alt="">
            <div also-content class="also-content">
              <a href="">Send My Love</a>
              <a href="" id="singer"><span>Adele</span></a>
            </div>
          </app-people-also-item>
        </div>

        <div class="feed-back"></div>

        <div class="people-also">
          <div class="title-also">
            <span>People also ask :</span>
          </div>
          <app-other-words-search-item>
            <span title>Why did Adele quit?</span>
            <p content> 2015, earned over $11 million last year, 
              according to the accounts of her two companies. 
              E! News has obtained documents of Adele's 
              companies Melted Stone Publishing and Melted Stone Ltd, 
              which take care of her album sales and royalties.Oct 5, 2018 
            </p>
          </app-other-words-search-item>

          <app-other-words-search-item>
            <span title>Who is Hello by?</span>
          </app-other-words-search-item>
          
          <app-other-words-search-item>
            <span title>How much money did Hello by Adele make?</span>
          </app-other-words-search-item>

          <app-other-words-search-item>
            <span title>What key is Adele Hello in?</span>
          </app-other-words-search-item>
        </div>

        <div class="other-content-item">
          <div class="img-video-item">
            <img src="../../../assets/img-item/video.PNG" alt="">
            <span>Videos :</span>
          </div>
          <app-youtobe-content-item>
            <div class="content" content>
              <a href="">  Lionel Richie - Hello (Official Music Video) </a>
              <span id="note-youtobe">
                <b>Youtobe</b> LinoneIRicheVEVO
              </span>
              <span>Nov 10, 2015</span>
            </div>
            <img picture src="../../../assets/picture-contents/content-3.PNG" alt="">
          </app-youtobe-content-item>

          <app-youtobe-content-item>
            <div class="content" content>
              <a href="">Adele - Hello (Live at the NRJ Awards)</a>
              <span id="note-youtobe">
                <b>Youtobe</b> LinoneIRicheVEVO
              </span>
              <span>Nov 21, 2015</span>
            </div>
            <img picture src="../../../assets/picture-contents/content-2.PNG" alt="">
          </app-youtobe-content-item>

          <app-youtobe-content-item>
            <div class="content" content>
              <a href="">Hello! | Super Simple Song</a>
              <span id="note-youtobe">
                <b>Youtobe</b> LinoneIRicheVEVO
              </span>
              <span>Nov 8, 2015</span>
            </div>
            <img picture src="../../../assets/picture-contents/content-1.PNG" alt="">
          </app-youtobe-content-item>
        </div>
        <div class="img-see-all">
          <img src="../../../assets/img-item/see-all.PNG" alt="">
        </div>
        <div class="other-website-hello">
          <div class="item-website">
            <span>https://www.hellomagazine.com</span>
            <a href="">HELLO! - Daily royal, celebrity, fashion, beauty & lifestyle news</a>
            <span id = content>
              <b>Hello</b>brings you the latest celebrity & royal news from the UK & around the world, magazine exclusives
            </span>
            <span>fashion, beauty, lifestyle news, celeb babies, ...</span>
            <span>You visited this page on 9/9/21.</span>
          </div>
        </div>

        <div class="wiki-website">
          <div class="item-wiki">
            <span>https://vi.wikipedia.org › wiki › Hell...·</span>
            <a href="">Hello (bài hát của Adele) – Wikipedia tiếng Việt </a>
            <span id="note-wiki">
              <b>"Hello"</b> là một bản piano ballad, vời lời nhạc mô tả sự mất mát và hối tiếc. 
              Sau khi phát hành, 
            </span>
            <span>bài hát nhận được những phản ứng tích cực từ các nhà phê bình âm ...</span>
            <div class="detail-wiki">
              <div class="item-detail">
                <span>
                  <b>Sáng tác::</b> 
                  <a href="">Adele Adkins</a>; 
                  <a href="">‎Greg Kurstin‎</a>
                </span>
                <br>
                <span><b>Thể loại:</b> Soul</span>
              </div>

              <div class="item-detail">
                <span><b>Phát hành:</b>23 October 2015</span>
                <br>
                <span>
                  <b>Sản xuất:</b>
                  <a href="">Greg Kurstin</a>
                </span>
              </div>
            </div>
          </div>
          
          <div class="item-wiki">
            <span>https://en.wikipedia.org › wiki › Hello_(Adele_song)</span>
            <a href=""> Hello (Adele song) - Wikipedia </a>
            <span id="note-wiki">
              <b>"Hello"</b>is a song recorded by English singer-songwriter Adele, 
              released on 23 October 2015 by XL Recordings as the lead single from her third studio album, ...
            </span>
            <div class="detail-wiki">
              <div class="item-detail">
                <span>
                  <b>Songwriter(s):</b> 
                  <a href="">Adele Adkins</a>; 
                  <a href="">‎Greg Kurstin‎</a>
                </span>
                <br>
                <span><b>Genre:</b> Soul</span>
              </div>

              <div class="item-detail">
                <span><b>Released:</b>23 October 2015</span>
                <br>
                <span>
                  <b>Producer(s):</b>
                  <a href="">Greg Kurstin</a>
                </span>
              </div>
            </div>
            <span id="time-wiki"> You've visited this page 2 times. Last visit: 9/8/21 </span>
          </div>

        </div>
        
        <div class="sline-show-item">
          <app-slide-show-item></app-slide-show-item>
        </div>

        <div class="img-see-all">
          <img src="../../../assets/img-item/see-all.PNG" alt="">
        </div>
        
        <div class="other-website-hello">
          <div class="item-website">
            <span>https://hellogame.org:</span>
            <a href="">Hello Games: Homepage</a>
            <span id = content>
              <b>Hello</b>Games. Join us on our journey to create the types of games that didn't exist before. 
              View Jobs. Who We Are. We are a small studio who like to harness ...
            </span>
          </div>

          <div class="item-website">
            <span>https://hello.com:</span>
            <a href="">hello network</a>
            <span id = content>
              Connect with people who share your interests. Discover communities you love. 
              Join fun conversations.
            </span>
          </div>
        </div>

        <div class="gif-show">
          <app-gif-item></app-gif-item>
        </div>

        <div class="search-other-words">
          <div class="title">
            <a>Related searches :</a>
          </div>
          <app-also-search-item></app-also-search-item>
        </div>

        <div class="next-page">
          <app-next-page-item></app-next-page-item>
        </div>
      </div>

    </div>
    
  </div>
  <div class="about">
    <app-about-result></app-about-result>
  </div>
  <div class="middle-right">
  </div>

</div>