<div class="main">

  <p>Rxjs</p>
  <p> ---------------------------------------------------- </p>

  <br>
  <p> -- >> Combination </p>
  <p> -- >> >> combineLatest</p>
  <p> -- >>> >> Example 1</p>

  <p> -- >>> >> Example 2</p>
  <div class="example-2">
    <div>
      <button id="red">Red</button>
      <button id="black">Black</button>
    </div>
    <div>Red: <span id="red-total"></span></div>
    <div>Black: <span id="black-total"></span></div>
    <div>Total: <span id="total"></span></div>
  </div>

  <br>
  <p> -- >> >> concat</p>
  <p> -- >>> >> Example 1</p>

  <p> -- >>> >> Example 2</p>
  <p id="message"></p>
  
  <p> -- >> >> Start With</p>
  <p> -- >>> >> Example 1 </p>

  <p> -- >> >> withLasterFrom</p>
  <p> -- >>> >> Example 1</p>

  <p> -- >> >> Ajax</p>

  <p> -- Form</p>
  <p> -- >>> >> Example 1</p>

</div>