<div class="incredible-tooling-main">

  <div class="incredible-tooling-left">
    <img src="../../../../assets/svg/joyful-development.svg" alt="">
  </div>

  <div class="incredible-tooling-right">
    <div class="text-content">
      <span>INCREDIBLE TOOLING</span>
      <p id="text-content">
        Build features quickly with simple, declarative 
        templates. Extend the template language with your 
        own components and use a wide array of existing 
        components. Get immediate Angular-specific help and 
        feedback with nearly every IDE and editor. All this 
        comes together so you can focus on building amazing 
        apps rather than trying to make the code work.
      </p>
    </div>
  </div>

</div>