<div class="angular-middle">

  <div class="middle-modern">
    <app-middle-modern></app-middle-modern>
  </div>

  <div class="middle-across">
    <app-middle-across></app-middle-across>
    <div class="line"></div>
  </div>

  <div class="middle-speed-performance">
    <app-middle-speed-performance></app-middle-speed-performance>
    <div class="line"></div>
  </div> 

  <div class="middle-incredible-tooling">
    <app-middle-incredible-tooling></app-middle-incredible-tooling>
    <div class="line"></div>
  </div>

  <div class="middle-loved">
    <app-middle-loved></app-middle-loved>
  </div>

  <div class="middle-try-it-now">
    <div class="try-it-main">
      <div class="icon">
        <img src="../../../assets/svg/code-icon.svg" alt="">
      </div>
      <div class="text-content">
        <a href="">
          <span>TRY IT NOW</span>
          <br>
          Explore Angular's capabilities with a ready-made sample app. No setup required.
        </a>
      </div>
    </div>
  </div>

</div>