<div id="slideshow">
    <div class="slide-wrapper">
      <div class="slide">
          <img 
            src="../../../../assets/sline-show/sline-1.jfif" 
            alt="" srcset="">
      </div>
      <div class="slide">
          <img 
            src="../../../../assets/sline-show/sline-2.jfif" 
            alt="" srcset="">
      </div>
      <div class="slide">
          <img 
            src="../../../../assets/sline-show/sline-3.png" 
            alt="" srcset="">
      </div>
      <div class="slide">
          <img 
            src="../../../../assets/sline-show/sline-4.jfif" 
                alt="" srcset="">
      </div>
      <div class="slide">
          <img 
            src="../../../../assets/sline-show/sline-5.jfif" 
            alt="" srcset="">
      </div>
    </div>
</div>