<div class="header-icons">
    <div class="item">
        <img src="../../../../assets/svg/search-icon.svg">
        <span>All</span>
    </div>
    <div class="item">
        <img src="../../../../assets/list-icons/image.PNG">
        <span>Images</span>
    </div>
    <div class="item">
        <img src="../../../../assets/list-icons/videos.PNG">
        <span>Videos</span>
    </div>
    <div class="item">
        <img src="../../../../assets/list-icons/news.PNG">
        <span>News</span>
    </div>
    <div class="item">
        <img src="../../../../assets/svg/more-icon.svg">
        <span>More</span>
    </div>
    <div class="btn-tool">
        <span>Tool</span>
    </div>
</div>