<div class="list-item-hello">
    <div class="item">
        <img src="../../../../assets/svg/search-icon.svg" alt="">
        <a href=""> Hello <span> word </span> </a>
    </div>
    <div class="item">
        <img src="../../../../assets/svg/search-icon.svg" alt="">
        <a href=""> hello <span> meaning </span> </a>
    </div>
    <div class="item">
        <img src="../../../../assets/svg/search-icon.svg" alt="">
        <a href=""> hello <span> magazine </span> </a>
    </div>
    <div class="item">
        <img src="../../../../assets/svg/search-icon.svg" alt="">
        <a href=""> hello <span> adele </span> </a>
    </div>
    <div class="item">
        <img src="../../../../assets/svg/search-icon.svg" alt="">
        <a href=""> Hello <span> magazinemagazine </span> </a>
    </div>
    <div class="item">
        <img src="../../../../assets/svg/search-icon.svg" alt="">
        <a href=""> <span> Adele </span> hello <span> artist </span> </a>
    </div>
    <div class="item">
        <img src="../../../../assets/svg/search-icon.svg" alt="">
        <a href=""> Hello <span> neighhor </span> </a>
    </div>
</div>