<div class="across-main">

  <div class="across-left">
    <img src="../../../../assets/svg/responsive-framework.svg" alt="" srcset="">
  </div>

  <div class="across-right">
    <div class="text-content">
      <span>DEVELOP ACROSS ALL PLATFORMS</span>
      <p id="text-body">
        Learn one way to build applications with Angular and 
        reuse your code and abilities to build apps for any 
        deployment target. For web, mobile web, native mobile 
        and native desktop.
      </p>
    </div>
  </div>

</div>