.next-pages {
    width: 654px;
    padding-top: 20px;
    padding-bottom: 40px;

    img {
        margin-left: 170px;
    }
    .list-next {
        display: flex;
        align-self: center;
        justify-content: center;
        gap: 10px;

        p {
            color: blue;
            cursor: pointer;
            font-size: 14px;
        }

        p:hover {
            text-decoration: underline;
        }

        span {
            margin-top: 15px;
            margin-left: 40px;
            color: blue;
            font-size: 14px;
        }

        span:hover {
            cursor: pointer;
        }

    }
}