<div class="main-header">

  <div class="header-responsite">
    <div class="icon-menu">
      <img id="icon-menu" src="../../../assets/svg/menu-icon.svg" alt="">
    </div>
    <img id="icon-logo-angular" src="../../../assets/svg/angular-icon-1.svg" alt="">
  </div>

  <div class="header-left">
    <img src="../../../assets/picture/logo-nav@2x.png" alt="">
    <a href="">FEATURES</a>
    <a href="">DOCS</a>
    <a href="">RESOURCES</a>
    <a href="">EVENTS</a>
    <a href="">BLOG</a>
  </div>

  <div class="header-right">
    <div class="input-search">
      <input type="text" placeholder="Search" name="" id="">
    </div>
    <img id="icon-sun" src="../../../assets/svg/sun-icon.svg" alt="">
    <img id="icon-twiter" src="../../../assets/svg/twiter-icon.svg" alt="">
    <img id="icon-github" src="../../../assets/svg/github-icon.svg" alt="">
    <img id="ion-youtobe" src="../../../assets/svg/youtobe-icon.svg" alt="">
  </div>

</div>