<div class="main-speed-performance">

  <div class="speed-performance-left">
    <div class="text-content">
      <span>SPEED & PERFORMANCE</span>
      <p id="speed">
        Achieve the maximum speed possible on the Web 
        Platform today, and take it further, via Web Workers 
        and server-side rendering.</p>
      <p id="performance">
        Angular puts you in control over scalability. Meet huge 
        data requirements by building data models on RxJS, Immutable.js 
        or another push-model.
      </p>
    </div>
  </div>

  <div class="speed-performance-right">
    <img src="../../../../assets/svg/speed-performance.svg" alt="">
  </div>

</div>