<div class="footer-main">

  <div class="footer-first">

    <div class="first-item">
      <span>RESOURCES</span>
      <a href="">About</a>
      <a href="">Resource Listing</a>
      <a href="">Press Kit</a>
      <a href="">Blog</a>
      <a href="">Usage Analytics</a>
    </div>

    <div class="first-item">
      <span>HELP</span>
      <a href="">Stack Overflow</a>
      <a href="">Join Discord</a>
      <a href="">Gitter</a>
      <a href="">Report Issues</a>
      <a href="">Code of Conduct</a>
    </div>

    <div class="first-item">
      <span>COMMUNICTY</span>
      <a href="">Events</a>
      <a href="">Meetups</a>
      <a href="">Twitter</a>
      <a href="">GitHub</a>
      <a href="">Contribute</a>
    </div>

    <div class="first-item">
      <span>LANGUAGES</span>
      <a href="">Español</a>
      <a href="">简体中文版</a>
      <a href="">正體中文版</a>
      <a href="">日本語版</a>
      <a href="">한국어</a>
      <a href="">Complete language list</a>
    </div>

  </div>

  <div class="footer-second">
    <span>Super-powered by Google ©2010-2021.</span>
    <span>
      Code licensed under an 
      <a href="">MIT-style License</a>. 
      Documentation licensed under 
      <a href="">CC BY 4.0</a>
      .
    </span>
    <span>Version 12.2.7-local+sha.909c7060f0.</span>
  </div>

</div>